<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Curso de Rails 4</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= nav_bar brand: "Kunstee", brand_link: root_url do %>
		<%= menu_group do %>
			<%= menu_item "Novo Produto", new_produto_path %>
			<%= menu_item "Departamentos", departamentos_path %>
		<% end %>
		<%= form_tag busca_produto_path, method: :get, class: "navbar-form navbar-right" do %>
			<div class="form-group">
				<%= text_field_tag :nome, @nome_a_buscar, class: "form-control" %>
				<%= button_to "Buscar", nil, class: "btn btn0-default" %>
			</div>
		<% end %>

		<% end %>
	</header>
	<div class="container">
		<%= yield %>
	</div>

	<footer class="jumbotron text-center">
		Todos os direitos reservados a <strong>Lucas Augusto</strong>
	</footer>

</body>
</html>
