<tr>
	<td><%= produto.nome %></td>
	<td><%= produto.descricao %></td>
	<td><%= produto.preco %></td>
	<td>
		<%= link_to "Alterar", edit_produto_path(produto), class: "btn btn-info btn-block" %>
		<%= button_to "Remover", produto, method: :delete, class: "btn btn-danger btn-block", data: {confirm: "Tem certeza que deseja remover #{produto.nome}?"} %>
	</td>
</tr>